<ActionBar class="action-bar">
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">  
  </ActionItem>
  <label class="action-bar-title" text="Search"></label>
</ActionBar>

<StackLayout class="page page-content" #layout>
  <Label class="page-icon fa" text="&#xf002;"></Label>
  <SearchForm (search)="buscarAhora($event)" [inicial]="'hola'"></SearchForm>

  <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)" style="height:1250px">
    <ng-template let-x="item">
        <FlexboxLayout flexDirection="row" class="list-group-item">
            <Image src="res://icon" class="thumb img-circle"></Image>
            <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 60%"></Label>
        </FlexboxLayout>
    </ng-template>
   </ListView>

   <FlexboxLayout flexDirection="row">
      <TextField #texto="ngModel" [(ngModel)]="textFieldValue" hint="Ingresar texto..." required minlen="4"></TextField>
      <Label *ngIf="texto.hasError('required')" text="*"></Label>
      <Label *ngIf="!texto.hasError('required') && texto.hasError('minlen')" text="4+"></Label>
    </FlexboxLayout>

    <Button text="Buscar!" (tap)="onButtonTap()" *ngIf="texto.valid"></Button>

</StackLayout>
