<p>listado works!</p>
<PullToRefresh (refresh)="onPull($event)">
    <ListView class="list-group" [items]="this.resultados">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image src="res://icon" class="thumb img-circle" ></Image>
                <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 60%"></Label>
            </FlexboxLayout>
        </ng-template>
       </ListView>
    
</PullToRefresh> 