<ActionBar class="action-bar">
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
  <Label class="action-bar-title" text="Featured"></Label>    
</ActionBar>

<GridLayout class="page page-content">
  <Label class="page-icon fa" text="&#xf005;"></Label>
  <Label class="page-placeholder" text="<!-- Page content goes here -->"></Label>

  <GridLayout class="bg-primary p-15 m-15" width="200" height="200" (longPress)="onLongPress($event)">    
    <Image class="img-rounded" src="res://icon" stretch="none"></Image>
  </GridLayout>

</GridLayout>
