<div class="page-header">
	<div style="float: rigth;">
		<select (change)="translate.use($event.target.value)">
			<option value="es">Español</option>
			<option value="fr">France</option>
			<option value="eb">English</option>
		</select>
	</div>
</div>

<div class="page-header">
		<div class="container">
			<h1>Ruteo Simple</h1>
			<div class="navLinks">
				<a [routerLink]="['/home']">Home</a>
			</div>
		</div>
	</div>
	
	<div class="container content">	
		<div class="row">
			<h1>
				{{ title }} <b [innerHTML]="'Hola' | translate"></b>
			</h1>
		</div>

		<router-outlet></router-outlet>
	</div>

	<hr class="mb-5">

	Fecha: {{ time | async }}