<p>vista-detalle works!</p>
<GridLayout columns="auto,*,auto" rows="auto,25" verticalAlignment="top" backgroundColor="lightgray">
    <image src="~/icon.jpg" rowSpan="2" width="72" height="72" margin="3" verticalAlignment="top"/>
    <label text="Excelente hotel!" textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="3"/>
    <label text="Usuario Carlos Pérez" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="bottom" margin="3"/>
    <label text="Puntaje 4.3" col="2" row="1" color="#10C2B0" fontSize="14" margin="3" verticalAlignment="bottom"/>
</GridLayout>